## VARIABLES ##

- Variables are used to store the data

- the data can be changed

- these variables can be used to manipulate python code

In [7]:
number = 100              #100 is stored in a variable called a number
number

100

In [11]:
NUMBER = 200
NUMBER

200

In [13]:
number,NUMBER

(100, 200)

In [15]:
NUMber = 300
NUMber

300

In [17]:
numBER = 400
numBER

400

In [19]:
number,NUMBER,NUMber,numBER

(100, 200, 300, 400)

In [23]:
number123 = 500
number123

500

In [25]:
123number = 600
123number

SyntaxError: invalid decimal literal (2376699783.py, line 1)

## Note ##

- variables generally in black colour

- green colour should not be variable

- numbers as suffix can wrk

- numbers as prefix fail

- special characters doesnot allowed

In [30]:
number$ = 600
number$

SyntaxError: invalid syntax (2901377507.py, line 1)

In [32]:
number one = 200
number one

SyntaxError: invalid syntax (3656290241.py, line 1)

In [35]:
number_one = 300
number_one

300

- special characters are not allowed

- only underscore allowed

- underscore can use as variable

In [38]:
_=1000
_

1000

In [ ]:
one=12
tw0=20
one+two